GNU nano 4.8                                                                                                                                                                       style.css
* {
  box-sizing: border-box;
}

body {
  margin: 0; /* Toujours bon pour éviter un espace blanc par défaut */
  min-height: 100vh; /* Le body prend toute la hauteur */
  position: relative; /* Nécessaire pour positionner les enfants */
  padding: 5px; /* ← ajout d'un padding général de 5px pour le contenu */
  padding-top: 60px; 
  padding-bottom: 60px;
}

.background-container {
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-image: url('https://192.168.124.187:8443/KuzApp/KuzApp-Fond.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 20px;
  z-index: -1;
  overflow: hidden;
}

.box {
  border: 3px solid green;
  padding: 30px 25px 10px 25px;
  background: #e65100;
  margin: 80px auto;
  width: 360px;
  border-radius: 5px;
  height: 420px; /* Ajoutez cette ligne pour définir la hauteur */
}

h1.box-logo a {
  text-decoration:none;
}

h1.box-title {
  color: #000000;
  background: orange;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 40px;
  text-align:center;
  font-weight: bold;
  margin: -10px -10px 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 3px solid black;
}

.box-button {
  width: 40%;
  padding: 5px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #00a000;
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.box-register {
  text-align:center;
  margin-bottom:20px;
  font-size:12px;
  color:#000000;
  font-weight: bold;
}

.box-register a {
  text-decoration:none;
  font-size:12px;
  color:#666;
  background-color: orange;
  border: #000000 3px solid;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom:20px;
  font-weight: bold;
}

.box-input {
  font-weight: bold;
  font-size: 14px;
  background: orange;
  border: 3px solid #000000;
  margin-bottom: 20px;
  padding-left:10px;
  border-radius: 5px;
  width: 347px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.box-input:focus {
  outline: none;
  border-color:#000000;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.success {
  text-align: center;
  color: black;
  background: green;
  width: 30%;
  border: 3px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 auto; /* Centrer la div horizontalement */
  margin-top: 50px; /* Ajustez la valeur pour l'espacement souhaité */
  font-weight: bold;
}

.success a {
  text-align: center;
  color: white;
  background: green;
  display: block;
  border: 3px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 50px; /* Ajustez la valeur pour l'espacement souhaité */
  margin: 0 auto; /* Centrer la div horizontalement */
  padding: 5px;
  font-weight: bold;
}

.success a:hover {
  text-align: center;
  margin-top: 50px; /* Ajustez la valeur pour l'espacement souhaité */
  margin: 0 auto; /* Centrer la div horizontalement */
  font-weight: bold;
}

p.errorMessage {
  background-color: #ff0000;
  border: #000000 3px solid;
  padding: 5px 10px;
  color: #000000;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; /* Centre le texte horizontalement */ 
  font-weight: bold;
  margin-top: 35px;
}

.banner {
  background-color: #E65100;
  color: black;
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
  line-height: 1.2;
  width: 40%;
  margin: 0 auto 20px auto;
}

.banner-bottom {
  background-color: orange;
  margin-top: 50px; 
  position: relative; 
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%); 
  color: black;
  text-align: center;
  padding: 5px 0;
  font-size: 16px;
  font-weight: bold;
  width: 40%; 
  border-radius: 5px;
}
